<ion-view view-title="博罗新闻" align-title="center">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="model in Models" type="item-text-wrap" href="#/tab/news/111">
        <h2>{{model.title}}</h2>
        <p>{{model.date}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(model)">
          收藏
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
